@use "./media-queries" as *;

header {
  color: var(--light);
  background-color: var(--primary);
  #container-header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    .container-logo {
      display: flex;
      align-items: flex-end;
      width: 12rem;
      padding: 0.5rem;
      margin-left: 1rem;
      border-radius: 0.3rem;
      justify-content: space-between;
      cursor: pointer;
      transition: all 0.2s;
      @include phone {
        width: 3.5rem;
      }
      .logo-image {
        img {
          height: 2.5rem;
          width: 2.5rem;
          border: 0.1rem var(--tertiary) solid;
          float: right;
        }
      }
      &:hover {
        transition: all 0.2s;
        background-color: var(--tertiary);
        color: var(--je);
        img {
          border: 0.1rem var(--primary) solid;
        }
      }
      .text-menu {
        @include phone {
          display: none;
        }
      }
    }
    #container-menu {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 55rem;
      @include phone {
        width: 30rem;
      }
      @include tablet {
        width: 30rem;
      }
      li {
        cursor: pointer;
        padding: 0.5rem;
        transition: all 0.2s;
      }
      li:hover {
        transition: all 0.2s;
        background-color: var(--tertiary);
        color: var(--dark);
        border-radius: 0.3rem;
        .icon-frontend {
          color: var(--frontend);
        }
        .icon-backend {
          color: var(--backend);
        }
        .icon-fullstack {
          color: var(--fullstack);
        }
        .icon-contact {
          color: var(--contact);
        }
      }
      i {
        @include phone {
          width: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        @include tablet {
          width: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .text-menu {
        @include phone {
          display: none;
        }
        @include tablet {
          display: none;
        }
      }
    }
  }
}
